body {
    padding: 0px;
    margin:0px;
}

#canvas {
    background-color: rgb(235, 235, 235);
}

.chart {
    margin-top: 200px;
    display: flex;
    justify-content: center;
}

.container {
    width: 100vw;
    height: 100%;
    background-color: rgb(255, 255, 255);
}

.btn_container {
    display: flex;
    justify-content:center;
}

.btn:not(:first-child){
    margin-left: 15px;
}

.rangeContainer {
    display: flex;
    flex-direction: column;
    margin: 25px auto 0 auto;
    width: 250px;
}

.rangeContainer label {
    text-align: center;
    user-select: none;
}

.settings {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.counter_container p {
    margin-bottom: 0px;
    font-weight: 600;
}

.counter_container {
    margin-bottom: 5px;
}